
 :root{
    --primary-text-color:rgba 0,0,0,0.8;
    --title-text-color:#000000;
    --accent-color: #2196F3;
    --secondary-color: #757575;

    --primary-white-color:#FFFFFF;

}

    

body{
   
    background-color:#FFFFFF;
    color: var(primary-text-color);
    font-family: Roboto, sans-serif;
}
.list{
    list-style: none;   
}
.link{
    text-decoration: none; 
}
/* header  */


   

.header-item{
    font-family: Raleway;
    font-size: 26px;
    
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}    
.header-logo{
    
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    }
    .header-logo-link{
        color: var(--title-text-color) 
        
    }
    
    
   /*  .list{
        list-style: none;
        text-decoration: none;
        } */
    .header-nav .link{
        font-weight: 500;
        font-size: 14px;
       line-height: 1,14;
       letter-spacing: 0.02em;
       color: #212121;
        
        
}
    .header-list .link:hover,
    .header-list .link:focus{  
        
       color: var(--accent-color);
    }
        /*   
    .header-nav .link.current{
        color: var(--title-text-color);
    } */
    .header-contacs .link{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--secondary-color);   
    }
    .header-contacs .link:hover,
    .header-contacs .link:focus{
   color: var( --accent-color);
     
   
    }
    /* PORTFOLIO */
    
    
    .button-list .button-item{
     font-size: 16px;
     font-weight: 500;
     line-height: 1.62;
     letter-spacing: 0.03em;
     color:var(title-text-color);
     

    }
    .button-item{
        cursor:pointer
    }
   
    
    .button-item:hover,
    .button-item:focus{
        
        
     
       background-color: var( --accent-color);
    }
    
    .portfolio-items .portfolio-title{
         color: var(--title-text-color) ;
         font-weight: 700;
         font-size:18px; 
         line-height:2.0;
         letter-spacing: 0.06;
       
     }   
     .portfolio-items .portfolio-subtitle{
        color: var(--title-text-color);
        font-size: 16px;
        line-height:1.87 ;
        letter-spacing: 0.03em;
    } 
    
    
    
      
    
        /*FOOTER   */
        .footer-item>.footer-list{
            background-color: var(--title-text-color);
        }
       


        .footer-item{
            font-family: Raleway;
            font-size: 26px;
            
            font-weight: 700;
            line-height: 1.19;
            letter-spacing: 0.03em;
            text-align: left;

        }
        
        .footer .logo{
        color:  var(--accent-color);
        text-decoration: none;
        }
        .footer-logo-link{
    
    color: var(--primary-white-color);
        }

        .footer-list .link{
        text-decoration: none;
        color: var(--primary-white-color);
        
        font-size: 14px;
        line-height: 1,7;
        letter-spacing: 0.03em;
        text-align: left;

        }
    .footer-list{
   
     background-color: #E5E5E5;

    } 
    .footer-logo {
        color: var(--accent-color);
    }
   
    .footer-list .link:hover,
    .footer-list .link:focus{
    color: var(--accent-color);
    }    
        
       /* HERO */
       .hero-section{
        background-color:#2F303A ;
        }
       .head-title{
        font-family: Roboto;
        font-size: 44px;
       
        font-weight: 900;
        line-height:1.36;
        letter-spacing: 0.06em;
        text-align: center;
        color:#FFFFFF;
        text-transform: uppercase;
        }
       .button-cursor{
        cursor: pointer;
       } 
       .hero-button:hover,   
       .hero-button:focus{
        background-color: var(--accent-color);
       }
       .hero-button{
        
        font-size: 16px;
        font-weight: 700;
        line-height: 1.85;
        letter-spacing: 0.06em;
        text-align: center;
        background-color:#188CE8;
        }
        /* ABOUT */
        .portfolio-title{
            font-size: 14px;
             font-weight: 700;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-align: left;
            color: var(--title-text-color);
              }
        .portfolio-subtitle{
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            text-align: left;
            color: var(--secondary-color); 
            }
            .servis-title{
            font-size: 36px;
                
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-align: center; 
            color: var(--title-text-color);   
        }
            /* TEAM */
            .section-team{
                background-color:#E5E5E5
            }
            .team-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-align: center;      
        }
        .present-team-list{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.18;
            letter-spacing: 0.03em;
            color: var(--title-text-color); 
        }
        .desc-team-list{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--secondary-color);  



        }