
 
 :root{
    /* --primary-text-color:rgba 0,0,0,0.8; */
    --title-text-color:#212121;
    --accent-color: #2196F3;
    --secondary-color: #757575;

    --primary-white-color:#FFFFFF;

}

    

body{
   
    background-color:#FFFFFF;
    color: var(primary-text-color);
    font-family: Roboto, sans-serif;
    
}
.list{
    list-style: none;   
}
.link{
    text-decoration: none; 
}
li{
    list-style: none;       
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0;
    margin-bottom: 0
}
ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;         
    }

  .section{
      padding-top: 92px;
      padding-bottom: 93px;
  } 

/* header  */
  .header .container{  
     display:flex;  
    align-items: center;  
}



 .container{
    width: 1200px;
     padding-left: 15px;  
     padding-right: 15px; 
     margin: 0 auto;  } 
   .header-list{ 
    display:flex;   
  }
 .header-item{ 
    display:flex;
    align-items: center;   
}
.contacs{
    display:flex;    
}
.header-item{
    font-family: Raleway, sans-serif;
    font-size: 26px;
    
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: left;
}    
.header-logo{
    
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    margin-right: 33px;
    /* width: 145px; 
    height: 31px;
    margin-top: 24px;
    margin-left: 215px;*/
}
    .header-logo-link{
        color: var(--title-text-color) 
        
    }
    .header-link{
    padding-top: 32px;
    padding-bottom: 32px;
    }
      .header-item{ 
         display: flex;
     } 
      
     .header-item:not(:last-child) {
         margin: 50px;
     }  
     
    
    
    
     
 
    
        
      
    .header-list .link{
        font-weight: 500;
        font-size: 14px;
       line-height: 1,14;
       letter-spacing: 0.02em;
       color: var(--title-text-color);
        
        
}
    .header-item .link:hover,
    .header-item .link:focus{  
        
       color: var(--accent-color);
    }
        /*   
    .header-nav .link.current{
        color: var(--title-text-color);
    } */
    .header-contacs .link{
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
       
        color: var(--secondary-color);   
    }
    .header-contacs .link:hover,
    .header-contacs .link:focus{
   color: var( --accent-color);
     }
   .contacs{
    margin-left: auto;
    display: flex;
}
.mail-link{
    margin-right: 50px;
}
.mail-link,
.tel-link{
    padding-top: 32px;
    padding-bottom: 32px;    
}
    /* PORTFOLIO */
    
    
    /* .button-list .button-item{ */
     .filter-item{
        font-size: 16px;
        font-weight: 500;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color:var(title-text-color);
        
     }
      

    
    .filter-button{
        cursor:pointer
    }
   
    
    .filter-button:hover,
    .filter-button:focus{
        
        
     
       background-color: var( --accent-color);
    }
    
    
       
     
       .portfolio-title{
        color: var(--title-text-color) ;
         font-weight: 700;
         font-size:18px; 
         line-height:2.0;
         letter-spacing: 0.06;
       
        
       } 
      .portfolio-text{
        color: var( --secondary-color);
        font-size: 16px;
        line-height:1.87 ;
        letter-spacing: 0.03em;
    } 
    
    
    
      
    
        /*FOOTER   */
        .footer{
            background-color: #2F303A;
               }
       .footer-logo{
        font-family: Raleway,sans-serif;
        font-size: 26px;
       font-weight: 700;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
        }
        .footer .logo{
            color:  var(--accent-color);
            text-decoration: none;
            }
            .footer-logo-link{
        
        color: var(--primary-white-color);
        }
              
        .footer-item .link{ 
          
             color: var(--primary-white-color); 
            font-size: 14px;
            line-height: 1.17; 
            font-style: normal;  
       
        }
        
        .footer-link:hover,
        .footer-link:focus{
        color: var(--accent-color);
        }    
        

      
         
       

       

    

     
   
   
    
        
       /* HERO */
       .section-hero{
        background-color:#2F303A ;
       
        }
         .hero{ 
         flex-grow: 1;  
         padding: 280px 0 280px;  
        }
       .hero-title{
        /* font-family: Roboto; */
        font-size: 44px;
        font-weight: 900;
        line-height:1.36;
        letter-spacing: 0.06em;
        text-align: center;
        color: var(--primary-white-color);
        text-transform: uppercase;
        margin-bottom: 30px;
         
        }

       .button-cursor{
        cursor: pointer;
       } 
       .hero-button:hover,   
       .hero-button:focus{
        background-color: var(--accent-color);
       }
       .hero-button{
        width: 200px;
        height: 50px;
        /* margin-top: 430px;
        margin-left: 700px; */
        border-radius: 4px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.85;
        letter-spacing: 0.06em;
        text-align: center;
        background-color:#188CE8;
        }
       
        /* FEATURE */
       .feature-title{
       color: var(title-text-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
          
       }
       .feature-text{
        color: var(--secondary-color);
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        
          
       }
       
        /* WORKS */
       
            .works-title{
            /* width: 376px; */
            /* height: 42px; */
            padding-bottom: 50px;
            font-size: 36px;    
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-align: center; 
            color: var(--title-text-color);   
        }
        .works-list{
            display: flex;
            /* flex-wrap: wrap; */
        }
        .works-item{
            margin-left: 30px;
            width: 370px;
        }
        .works-item:not(:last-child){
            margin-right: 30px;
        }

            /* TEAM */
            .section-team{
            background-color: #F5F4FA;
            }
            .team-items{
             display: flex;
             /* flex-wrap: wrap; */
             margin-left:-30px;
             margin-right:-30px;
            }
            .team-img{
                width: 270px;
            }
            .team-img{
                flex-basis: calc(100% / 4 -30px);
                margin-left: 30px;
            }
            .team-title{
            font-size: 36px;
            font-weight: 700;
            line-height: 1.16;
            letter-spacing: 0.03em;
            text-align: center;      
        }
        .present-team{
            
            font-size: 16px;
            font-weight: 500;
            line-height: 1.18;
            letter-spacing: 0.03em;
            color: var(--title-text-color); 
        }
        .team-text{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.03em;
        color: var(--secondary-color);  



        }